<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel='stylesheet' href='/javascripts/bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Welcome to <%= title %></p>
  </div>
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
